.conteneur {
    margin-top: 70px;
    margin-bottom: 50px;
}

.carte {
    padding: 40px;
}

.entete {
    background-color: #1b1b1b;
    color: #ffffff;
    text-align: center;
    margin-top: -3.5rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}
